<h2>Create a cellar</h2>
<form action="/cellars" method="POST">>
	<input type="text" name="cellar_name" placeholder="Name of the cellar..."><br />
	<button>Create a Cellar</button>
</form>







<!-- CREATE TABLE cellars(
	id SERIAL PRIMARY KEY,
	cellar_name VARCHAR(32),
	user_id INTEGER REFERENCES users(id)
); -->