<h2>Wine Cellar App</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos fugit explicabo autem laboriosam alias, sequi deleniti facilis, temporibus, recusandae obcaecati minima quia repellat quo excepturi vero placeat assumenda iste consectetur!</p>
<img src="http://www.agricolaocchipinti.it/en/img/vini-agricola-occhipinti.jpg" alt="wine bottle">