body {
/*	background: url("https://www.selectionmassale.com/uploads/4/1/4/8/41480149/020c2828-2-orig-orig_orig.jpg");*/
	background: url("https://www.selectionmassale.com/uploads/4/1/4/8/41480149/published/020c1296.jpg");
	/*background: url("https://www.selectionmassale.com/uploads/4/1/4/8/41480149/published/jerome_1.jpg");*/
	background-repeat: no-repeat;
	background-size: cover;
	background-color: cadetblue;
	opacity: 0.87;
	min-width: 360px;
	margin: 6vh;
}

main {
	background-color: plum;
	margin: 2vh;
	padding: 4vh;
	border-radius: 12px;

}

nav {
	display: inline-block;
	margin-right: 20px;
}


header {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(189,189,189,.9);
}

.title {
	margin: 4vh;
	color: plum;
}

.subtitle {
	color: plum;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	color: purple;
	margin-bottom: 20px;
}

img {
	max-height: 140px;
}

.graph-trends {
	background-color: lightgrey;
	opacity: 0.99;
	border-radius: 10px;
	margin: 4vh;
	padding: 2vh;
	max-height: 60%;
}



